body {
  background-color: #f44444;
  align-items: center;
  display: grid;
  justify-content: center;
}

.SignUpForm form{
  border: 1px solid;
  padding: 10px;
  margin: 15px;
  border-color: black;
  background-color: red;
  display: grid;
  align-items: center;
  justify-content: center;
}

.logInForm form{
  border: 1px solid;
  padding: 10px;
  margin: 15px;
  border-color: black;
  background-color: red;
  display: grid;
  align-items: center;
  justify-content: center;
}
