body {
  background-color: #FAEBD7;
}

.hidden { display: none;}

.index, .signupSection, .loginSection, .dashboard, .lists, .users{
  background-color: #6495ED;
  border-color: black;
  border-radius: 30px;
  text-align: center;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  width: 60%;
  align-items: center;
}

.hr3 {
  border: 0;
  border-top: 1px dashed #CCC;
}
