body {
  background-color: coral;
}

.hidden { display: none;}

.index, .signupSection, .loginSection, .dashboard, .lists, .users{
  background-color: orange;
  border-color: black;
  border-radius: 30px;
  text-align: center;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  width: 60%;
  align-items: center;
}
